<h1 class="branding">
  <div class="container-fluid navbar-branding">
    <a href="/">
      <%= image_tag asset_path(AppConfig[:frontend_branding_img]), :class =>"img-responsive", :alt => AppConfig[:frontend_branding_img_alt_text]  %>
    </a>
    <p>Testing new features and tools in ASpace <%= ASConstants.VERSION %>.</p>
  </div>
</h1>